*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
  
#keyboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
  
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.key {
    width: 60px;
    height: 60px;
    border: 3px solid #9e1df4;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
    justify-content: space-between;
    background-color: rgba(33, 24, 212, 0.538);
    color: #fff;
}

.keySP{
    width: 60px;
    height: 60px;
    border: 3px solid #9e1df4;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
    justify-content: space-between;
    background-color: rgba(33, 24, 212, 0.538);
    color: #fff;
}


